<section class="content-setting-link">
  <section class="header">
    <span class="back-button" routerLink="/setting"><i class="fa-solid fa-circle-arrow-left"></i></span>
    <span class="title">
      Edit Website
    </span>
  </section>

  <section class="card-list">
    <div class="thecard">
      <div class="main-area">
        <div class="icon"><i class="fa-brands fa-safari"></i></div>
        <div class="info-and-action">
          <span class="title">Website</span>
          <button class="delete">Delete Link</button>
          <button class="test">Test Link <i class="fa-solid fa-up-right-from-square"></i></button>
        </div>
      </div>
      <div class="input-area">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label class="thelabel">Website</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </div>


  </section>

  <section class="bottom-actions">
    <!-- <button class="close">Close</button> -->
    <button class="another">Add Another</button>
  </section>
</section>