<section class="brand-container">
  <h1>About Us</h1>
  <div class="brand-content">
      A cobra cards seamlessly transfers all of the information on your cobra card profile with a single tap onto someone else’s phone. Your cobra card profile is fully customizable —including a bio, social media links, payment info, and more— and enables you to share every important detail about you and your business with your network. <br>
      The best part is that nothing other than your cobra cards is required to start connecting: no apps, no gimmicks, no subscriptions! <br>
      To put it simply: your cobra cards is the catalyst to your next conversation. <br>
  </div>
</section>