<section class="container">
  <section class="header">
    <div class="content">
      <img src="/assets/logo-old.png" alt="Hi Card" height="50">
      <span class="text">Smart iCards and Visiting Cards</span>
    </div>
  </section>
  <section class="content">
    <section class="banner">
    </section>
    <a href="https://calendly.com/hicard/demo" target="_blank">

      <div class="headline">
        Book demo
      </div>
    </a>
    <br>
    <br>
    <div class="section-title">
      Features
    </div>
    <section class="features">
      <div class="feature-card card">
        <span class="icon">
          <i class="fa-brands fa-android" style="color: #a4c639"></i>
          &nbsp;
          <i class="fa-brands fa-apple" style="color: lightgrey"></i>
        </span>
        <span class="text">
          Works with all types of phones. <br>
          Both iPhone and Android.
        </span>
      </div>

      <div class="feature-card card">
        <span class="icon">
          <i class="fa-solid fa-globe" style="color: lightblue;"></i>
        </span>
        <span class="text">
          No app required to share your profile. It opens in the browser.
        </span>
      </div>

      <div class="feature-card card">
        <span class="icon">
          <i class="fa-solid fa-infinity" style="color: lightgreen;"></i>
        </span>
        <span class="text">
          Built to last a lifetime. Update your info as it changes.
        </span>
      </div>
    </section>
    <br>
    <div class="section-title">
      How it works
    </div>
    <section class="how-it-works">
      <div class="how-it-works-card card">
        <span class="corner">1</span>
        <span class="icon">
          <i class="fa-solid fa-laptop" style="color: grey"></i>
          <i class="fa-solid fa-plus" style="color: lightgreen;"></i>
        </span>
        <span class="text">
          Company add employee profile on hiCard Portal
        </span>
      </div>

      <div class="how-it-works-card card">
        <span class="corner">2</span>
        <span class="icon">
          <i class="fa-solid fa-paper-plane" style="color: #2795eb;"></i>
          &nbsp;
          <i class="fa-solid fa-address-card" style="color: #2795eb;"></i>
        </span>
        <span class="text">
          We deliver the hiCard to the employee
        </span>
      </div>

      <div class="how-it-works-card card">
        <span class="corner">3</span>
        <span class="icon">
          <i class="fa-solid fa-mobile" style="color: grey;"></i>
        </span>
        <span class="text">
          Employee setup their hiCard profile
        </span>
      </div>

      <div class="how-it-works-card card">
        <span class="corner">4</span>
        <span class="icon">
          <i class="fa-solid fa-share-from-square" style="color: lightblue;"></i>
          <!-- <i class="fa-solid fa-network-wired" style="color: lightblue;"></i> -->
        </span>
        <span class="text">
          Ready To Network, within and outside your company network.
        </span>
      </div>
    </section>
    <br>
    <div class="section-title">
      Sample hiCard Profile
    </div>
    <section class="sample-profile">
      <img src="/assets/card.png" alt="" width="500" routerLink="/johndoe">
      <a href="https://hicard.in/johndoe" target="_blank">
        <img src="/assets/sample-profile.png" alt="" width="400">
      </a>
    </section>
    <br>
    <div class="section-title">
      Book a demo
    </div>
    <section class="book-demo">
      <a href="https://calendly.com/hicard/demo" style="text-decoration: none;">

        <div class="how-it-works-card card">
          <span class="icon">
            <i class="fa-solid fa-calendar" style="color: lightgreen;"></i>
          </span>
          <span class="text">
            Book a demo
          </span>
        </div>
      </a>
    </section>
  </section>
</section>