<section class="content-setting">
  <h1>Setup</h1>
  <section class="header">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="link">
      <i class="fa-solid fa-link"></i>
      airtrik.com/vishalpandey
    </span>
    
    <span class="islive"></span>
  </section>

  <br>

  <div class="header-card">
    <div class="banner">
      <span class="profile-photo">
        <img src="/assets/profile.jpg" alt="">
      </span>
    </div>
  </div>

  <br>

  <mat-form-field class="input-field name-input-field" appearance="outline">
    <mat-label class="thelabel">Name</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <section class="basic-info">
    <div class="bio-title">Bio</div>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Headline</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Work</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Location</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Education</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Skill</mat-label>
      <input type="text" matInput>
    </mat-form-field>
  </section>

  <section class="contact-info link-box">
    <div class="link-box-title">
      Contact Info
    </div>
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-safari"></i></span>
      <span class="title">Website</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-solid fa-envelope"></i></span>
      <span class="title">Email</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-solid fa-phone"></i></span>
      <span class="title">Call</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-whatsapp"></i></span>
      <span class="title">Whatsapp</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-discord"></i></span>
      <span class="title">Discord</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-telegram"></i></span>
      <span class="title">Telegram</span>
    </div>
    
    
    
    <div class="item expand">
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </section>

  <section class="social-links link-box">
    <div class="link-box-title">
      Social Links
    </div>
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-linkedin"></i></span>
      <span class="title">LinkedIn</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-instagram"></i></span>
      <span class="title">Instagram</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-twitter"></i></span>
      <span class="title">Twitter</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-facebook"></i></span>
      <span class="title">Facebook</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-youtube"></i></span>
      <span class="title">Youtube</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-snapchat"></i></span>
      <span class="title">Snapchat</span>
    </div>
    
    
    
    <div class="item expand">
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </section>

  <section class="payment-links link-box">
    <div class="link-box-title">
      Payment Links
    </div>
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-paypal"></i></span>
      <span class="title">Paypal</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-google-pay"></i></span>
      <span class="title">GPay</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i> upi </i></span>
      <span class="title">UPI</span>
    </div>
    
    <div class="item expand">
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </section>

  <section class="productivity-links link-box">
    <div class="link-box-title">
      Productivity Links
    </div>
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
      <span class="title">Calendly</span>
    </div>

    <div class="item">
      <span class="filled"></span>
      <span class="icon">N</span>
      <span class="title">Notion</span>
    </div>
    
    <div class="item">
      <span class="filled"></span>
      <span class="icon"><i class="fa-brands fa-google-drive"></i></span>
      <span class="title">GDrive</span>
    </div>
    
    <div class="item expand">
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </section>

  <button class="edit-contact-button"> <i class="fa-solid fa-pen-to-square"></i> Edit Contact </button>

  


</section>
