<section class="content-login">
  <section class="login-box">
    <div class="title">
      Setup Card
    </div>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Username</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label class="thelabel">Re Enter Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <button class="login-button">
      Go
    </button>
  </section>
</section>