<app-loading *ngIf="!profile"></app-loading>
<section class="content-user" *ngIf="profile">
  
  <div class="header-card">
    <div class="banner">
      <span class="profile-photo">
        <img src="{{profile.photo}}" alt="">
      </span>
    </div>
    <div class="profile-info">
      <span class="name">
        {{profile.name}}
      </span>
      <span class="designation">{{profile.bio.title}}</span>
      <div class="company-location-education">
        <span class="company">{{profile.bio.work}}</span>
        <span class="location">{{profile.bio.location}}</span>
        <span class="education">{{profile.bio.education}}</span>
      </div>
      <div class="skills">
        <span class="skill" *ngFor="let skill of profile.skill">{{skill}}</span>
        <!-- <span class="skill">StartUp</span>
        <span class="skill">Coding</span> -->
      </div>
    </div>
  </div>

  <div class="save-contact">
    <button class="save-contact-button">
      Save Contact
    </button>
    <button class="download-contact-button">
      <i class="fa-solid fa-arrow-down"></i>
    </button>
  </div>

  <div class="links">
    <div class="link">
      <span class="img">
        <i class="fa-brands fa-safari"></i>
      </span>
      <div class="link-content">
        <span class="title"> Website </span>
        <span class="value"> www.vishalpandey.co.in </span>
      </div>
      <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
    </div>

    <div class="link">
      <span class="img">
        <i class="fa-brands fa-safari"></i>
      </span>
      <div class="link-content">
        <span class="title">
          Website
        </span>
        <span class="value">www.vishalpandey.co.in</span>
      </div>
      <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
    </div>

    <div class="link">
      <span class="img">
        <i class="fa-brands fa-safari"></i>
      </span>
      <div class="link-content">
        <span class="title">
          Website
        </span>
        <span class="value">www.vishalpandey.co.in</span>
      </div>
      <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
    </div>
  </div>

</section>