*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  color: white;
}
.brand-container{
  width: 100%;
  padding: 15px;
}
.brand-content{
  width: 100%;
  padding: 10px;
  color: white;
  line-break: auto;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}